<template>
  <div v-if="totalPages() > 0" class="pagination-wrapper">
    <div class="pageBar">
      <div
        v-if="showPreviousLink()"
        class="pagination-btn"
        v-on:click="updatePage(currentPage - 1)"
      >
        <img src="@/assets/images/arrow-pagination.png" alt />
      </div>
      <div
        class="pageNumber"
        v-for="(number, index) in totalPages()"
        :key="index"
        :class="{ curr: number === currentPage + 1 }"
        id="number"
      >{{ number }}</div>
      <div v-if="showNextLink()" class="pagination-btn" v-on:click="updatePage(currentPage + 1)">
        <img src="@/assets/images/arrow-pagination2.png" alt />
      </div>
    </div>
  </div>
</template>
<script>
export default {
  mounted: {},
  methods() {
    function curr(number) {
      // console.log(number);
      if (number === currentPage) {
        document.getElementById(number).classList.add("curr");
      }
    }
  },
};
</script>

<script src="./Pagination.js"></script>
<style src="./Pagination.css"></style>

<style lang="css">
.pagination-wrapper {
  background-color: #fff;
  width: 40%;
  margin-block: 20px;
  margin-inline: auto;
  display: flex;
  align-self: center;
  justify-items: center;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.pagination-btn {
  justify-content: center;
  align-items: center;
  justify-items: center;
  align-self: center;
}

.pagination-btn img {
  margin-top: 7px;
  justify-content: center;
  align-items: center;
  justify-items: center;
  align-self: center;
}
.pageNumber {
  width: 30px;
  height: 30px;
  align-self: center;
  justify-items: center;
  align-items: center;
  justify-content: center;
  display: flex;
  margin: 5px;
}

.pageBar {
  color: #aeaeae;
  display: flex;
}
.pageBar div {
  padding: 10px;
}
.curr {
  background-color: #4570f5;
  color: #fff;
  border-radius: 50%;
}
</style>
