<!DOCTYPE html>
<html lang="fa">
  <head>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="Content-Language" content="fa" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">


    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <!-- <noscript> -->
    <!-- <strong
        >We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work
        properly without JavaScript enabled. Please enable it to
        continue.</strong
      >
    </noscript> -->
    <div id="app"></div>
    <!-- <script
      src="https://code.jquery.com/jquery-1.12.4.min.js"
      integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ"
      crossorigin="anonymous"
    ></script>
    <script src="src/assets/latin2Arabic.jquery.js"></script>
    <script>
      $(function() {
        var numbers = $.latin2Arabic.toArabic("1/2/3");
        $(body).append(numbers);
      });
    </script> -->

    <!-- built files will be auto injected -->
  </body>
</html>
