<template>
  <div class="app-auth">
      <router-view></router-view>
  </div>
</template>

<script>
export default {

}
</script>

<style scoped>
.app-auth{
  min-height: 100%;
  height: 100%;
}
</style>