<template>
  <div class="answer-container">
    <div class="answer">
      <div
        v-for="item in question.options"
        :key="item.id"
        class="option"
        :class="{ active: item.id === chosenOptionId }"
        @click="toggleOptionHandler(item.id)"
      >
        <div>{{ item.text }}</div>
        <div class="outer-circle">
          <div class="inner-circle"></div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    question: Object,
  },
  data() {
    return {
      chosenOptionId: 0,
    };
  },
  methods: {
    toggleOptionHandler(id) {
this.chosenOptionId = id;
    },
  },
};
</script>

<style scoped>
.answer-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 80%;
  margin: auto;
}

.answer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.option {
  background-color: #e6e9ef;
  width: 45%;
  border-radius: 10px;
  padding: 10px 5px;
  margin: 10px 10px 10px 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: #4b5a9f;
  font-family: Shabnam;
  border: none;
  outline: none;
  cursor: pointer;
}
.option:hover {
  background-color: #4b5a9f;
  color: #e6e9ef;
}

.outer-circle {
  height: 17px;
  width: 17px;
  border: solid 3px #4b5a9f;
  border-radius: 50%;
  margin: 0px 10px;
}

.option:hover .outer-circle {
  border-color: #e6e9ef;
  border: solid 3px #e6e9ef;
}

.active {
  background-color: #95d7a4;
  color: #286d3e;
  /* width: 45%; */
}

.active .outer-circle {
  border: solid 3px #286d3e;
  -moz-border-radius: 10px;
  justify-content: center;
  position: relative;
  display: flex;
}

.active .outer-circle .inner-circle {
  height: 9px;
  width: 9px;
  border-radius: 50%;
  background-color: #286d3e;
  align-self: center;
  align-items: center;
  position: absolute;
}

.active .outer-circle:after {
  background-color: #fff;
  height: 5px;
  width: 5px;
  margin: 2px;
}

@media screen and (max-width: 1000px) {
  .answer-container {
    width: 100%;
  }
  .option {
    width: 70%;
  }
}
</style>
