<template>
  <div class="footer-container">
    <div class="next-question-button">
      <button @click="addCounter">
        <img src="@/assets/images/next.png" alt />
        <div style="margin-left:10px">سوال بعدی</div>
      </button>
    </div>

    <div class="gray-line">
      <div class="show-box">
        <div class="custom_slider">
          <div class="blue-line" :style="blueLineStyle"></div>
          <div class="slider-thumb" :style="blueCircleStyle"></div>
          <div class="slider-tool-tip" :style="ToolTipStyle">
            <span class="quesiotn-number">
              پرسش {{ this.questions_counter + 1 }}/
              {{ questions_number }}
            </span>
            <span class="question-percent">‏{{ this.myWidth.toFixed(0) }}% تکمیل شده</span>
          </div>
        </div>
      </div>
    </div>

    <div class="back-question">
      <button @click="subCounter">
        <img src="@/assets/images/arrow-BACK.png" alt />
      </button>
    </div>
  </div>
</template>

<script>
export default {
  props: ["questions_number"],
  data() {
    return {
      questions_counter: 0,
    };
  },
  methods: {
    addCounter() {
      this.questions_counter = this.questions_counter + 1;
      this.$emit("addCounter", this.questions_counter);
      this.$emit("postAnswer", this.questions_counter);
      // console.log(this.darsad);
    },
    subCounter() {
      if (this.questions_counter > 0) {
        this.questions_counter = this.questions_counter - 1;
        this.$emit("subCounter", this.questions_counter);
      }
    },
  },
  mounted() {},

  computed: {
    myWidth: function () {
      return (this.questions_counter / this.questions_number) * 100;
      return 10;
    },
    blueLineStyle() {
      return {
        width: this.myWidth + "%",
      };
    },
    blueCircleStyle() {
      return {
        right: this.myWidth + "%",
      };
    },
    ToolTipStyle() {
      return {
        right: this.myWidth + "%",
      };
    },
  },
};
</script>

<style scoped>
.footer-container {
  display: flex;
  justify-content: space-between;
  align-self: center;
  align-items: center;
  background-color: #fff;
  padding: 10px 20px;
  border-radius: 10px;
}

.back-question {
  background-color: #fff;
  border-radius: 5px;
  margin-left: 10px;
}

.back-question button {
  height: 30px;
  width: 30px;
  background-color: #e6e9ef;
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  border-radius: 5px;
  border: none;
  outline: none;
}
.back-question button:hover {
  background-color: #626264;
  color: #f3f4f8;
}
.back-question button:active {
  border: none;
  outline: none;
  /* background-color: #222; */
}

.next-question-button button {
  background-color: #4570f5;
  color: #fff;
  border: none;
  outline: none;
  font-family: Shabnam;
  display: flex;
  justify-content: space-between;
  padding: 8px 15px;
  border-radius: 5px;
  margin-right: 10px;
  box-shadow: 0 2px 5px 0 rgba(69, 112, 245, 0.6);
}

.next-question-button button:hover {
  background-color: #626264;
  color: #f3f4f8;
}

.next-question-button button:active {
  outline: none;
  border: none;
  /* background-color: #fff; */
}

.next-question-button button img {
  display: flex;
  justify-content: center;
  align-self: center;
}

.gray-line {
  width: 75%;
  height: 3px;
  border-radius: 2px;
}

.show-box {
  direction: rtl;
}

.custom_slider {
  position: relative;
  background-color: #f1f1f2;
  border: 0px;
  border-radius: 10px;
  height: 5px;
  outline: none;
  transition: background 450ms ease-in;
}

.custom_slider .blue-line {
  border: 0px;
  border-radius: 10px;
  height: 5px;
  outline: none;
  /* width: 25%; */
  background-color: #4570f5;
}

.custom_slider .slider-thumb {
  position: absolute;
  top: -3.2px;
  /* blue circle  */
  /* right: 30%; */
  background-color: #4570f5;
  border: 0px;
  border-radius: 0;
  height: 12px;
  width: 12px;
  border-radius: 50%;
}

.slider-tool-tip {
  position: absolute;
  top: -60px;
  /* right: 10%; */
  transform: translateX(101px);
  min-width: 170px;
  /* padding: 0px 15px; */
  height: 38px;
  border-radius: 3px;
  background-color: #2e3133;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider-tool-tip::after {
  content: "";
  position: absolute;
  top: 25px;
  transform: rotate(45deg);
  display: block;
  width: 18.4px;
  height: 18.4px;
  border-radius: 2px;
  background-color: #2e3133;
}

.quesiotn-number {
  font-family: Shabnam;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2;
  letter-spacing: -0.14px;
  text-align: right;
  color: #fcb833;
  margin-left: 10px;
}
.question-percent {
  font-family: Shabnam;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.36;
  letter-spacing: -0.14px;
  text-align: center;
  color: #ffffff;
}

@media screen and (max-width: 750px) {
  .slider-tool-tip .question-percent {
    display: none;
  }
  .next-question-button button div {
    display: none;
  }
}
</style>
