<template>
  <div class="auth-options_container">
      <label class="checkbox auth-options_left">
      <input type="checkbox" checked="checked" />
      مرا به خاطر داشته باش
    </label>
    <p class="auth-options_right">رمز عبور را فراموش کرده اید ؟</p>
  
  </div>
</template>

<style scoped>
.auth-options_container {
  color: var(--light-blue);
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: right;
  width: 100%;
  margin-block: 30px 10px;
  font-size: small;
}

.auth-options_left {
  display: flex;
}

.auth-options_right {
  text-decoration: underline;
}

@media screen and (max-width: 800px) {
  .auth-options_container {
    display: block;
    justify-content: flex-end;
    margin: 15px 0;
  }

  .auth-options_left {
    padding-right: 0;
    margin-right: 0;
    justify-content: flex-end;
  }
}
</style>
