<template>
  <div class="auth-layout">
      <auth-form>
        <slot></slot>
    </auth-form>
    <auth-image></auth-image>  
  </div>
</template>

<script>
import AuthForm from './AuthForm.vue'
import AuthImage from './AuthImage.vue'
export default {
  components: { AuthImage, AuthForm },

}
</script>

<style scoped>
.auth-layout{
    display: flex;
    width: 80%;
    margin: auto auto;
    min-height: 100%;
}
</style>