<template>
  <div class="auth-image">
        <div class="image-container">
<img src="@/assets/images/34shndow.png" alt="circle" />
      <div class="bottom-circle"></div>
      <div class="top-circle"></div>
        </div>

      
  </div>
</template>


<style scoped>
.auth-image {
  height: 100%;
  display: flex;
  justify-content: center;
  align-self: center;
  margin: 30px 0px;
  padding-top: 50px;
  width: 50%;
}

.image-container{
    position: relative;
}
.auth-image img {
  height: 450px;
  width: 450px;
  display: flex;
  align-self: center;
  z-index: 1;
}
.pic-content {
  align-self: center;
  position: relative;
  padding-bottom: 10px;
  z-index: 0;
}

.bottom-circle {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  position: absolute;
  right: 0px;
  bottom: 0px;
  z-index: 0;
  box-shadow: 10px 10px 26px 0 rgba(0, 0, 0, 0.16);
  background-image: linear-gradient(to bottom, #4570f5 5%, #8fa9f6);
}

.top-circle {
  height: 250px;
  width: 250px;
  border-radius: 50%;
  position: absolute;
  left: -70px;
  top: -70px;
  z-index: -1;
  border: solid 15px #edeef5;
}

@media only screen and (max-width: 1000px) {
  .pic-container img {
    height: 200px;
    width: 200px;
  }
  .pic-container .pic-content .top-circle {
    height: 100px;
    width: 100px;
    left: -30px;
    top: -30px;
  }
  .pic-container .pic-content .bottom-circle {
    height: 70px;
    width: 70px;
  }
}
</style>