<template>
  <div class="rightContent-header">
    <div class="RightContent-pic">
      <img src="@/assets/images/logo.png" />
    </div>
    <p class="welcome">به سیستم پرسش نامه آنلاین خوش آمدید</p>
    <p class="subWelcome">چنانچه شما دارای حساب کاربری هستید لطفا وارد شوید</p>
  </div>
</template>

<script>
export default {};
</script>

<style scoped>
.welcome {
  color: #2a3774;
  font-size: x-large;
  font-weight: bold;
}

.subWelcome {
  color: var(--light-blue);
  font-size: small;
}

@media only screen and (max-width: 1000px) {
  .rightContent-header .welcome {
    font-size: 12px;
  }
  .rightContent-header .subWelcome {
    font-size: 8px;
  }
}
</style>
